{% extends "base.html.twig" %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Nazwa</th>
            <th>Symbol</th>
            <th>Kategoria</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.id }}</th>
                <td>{{ result.name }}</th>
                <td>{{ result.symbol }}</th>
                <td>{{ result.categoryName }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
